<a href="https://colab.research.google.com/github/bradynp/CSC221_bprim002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TIY 4-1

favorite_pizzas = ['pepperoni', 'sausage', 'sicilian']

for pizza in favorite_pizzas:
    print(pizza)

print("\n")

for pizza in favorite_pizzas:
    print(f"I really love {pizza} pizza!")

print("\nI really love pizza!")

In [ ]:
# TIY 4-2

animals = ["dog", "cat", "rabbit"]

for animal in animals:
    print(animal)

print("\n")

for animal in animals:
    print(f"A {animal} would make a great pet.")

print("\nAny of these animals make great pets.")

In [ ]:
# TIY 4-3

numbers = list(range(1, 21))

for number in numbers:
    print(number)

In [ ]:
#TIY 4-4
for number in range(1, 1000001):
    print(number)

In [ ]:
# TIY 4-5

numbers = list(range(1, 1_000_001))

print(min(numbers))
print(max(numbers))
print(sum(numbers))

In [ ]:
# TIY 4-6

odd_numbers = list(range(1, 20, 2))

for number in odd_numbers:
    print(number)

In [ ]:
# TIY 4-7

threes = list(range(3, 31, 3))

for number in threes:
    print(number)

In [ ]:
# TIY 4-8

for number in range(1, 11):
    print("{} cubed is {}".format(number, number ** 3))

In [ ]:
# TIY 4-9

cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

In [ ]:
# TIY 4-10

numbers = list(range(1, 21))
print("The first three items in this list are:")
print(numbers[0:3])
print("The middle three items in this list are:")
print(numbers[8:11])
print("The final three items in this list are:")
print(numbers[17:20])

In [ ]:
# TIY 4-11

favorite_pizzas = ['pepperoni', 'sausage', 'sicilian']
friend_pizzas = favorite_pizzas[:]

favorite_pizzas.append('black olives')
friend_pizzas.append('chicken bacon ranch')

print("My favorite pizzas are:")
for pizza in favorite_pizzas:
    print(f"- {pizza}")

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(f"- {pizza}")

In [ ]:
# TIY 4-12

my_foods = ['halal lamb', 'cheesecake', 'eggs']
friend_foods = my_foods[:]

my_foods.append('burrito')
friend_foods.append('cookies')

print("My favorite foods are:")
for food in my_foods:
    print(f"- {food}")

print("\nMy friend's favorite foods are:")
for food in friend_foods:
    print(f"- {food}")

In [ ]:
# TIY 4-13

menu_items = (
    "cheeseburger",
    "chicken nuggets",
    "ceasar salad",
    "chicken sandwich",
    "wings",
)

print("You can choose from the following menu items:")
for item in menu_items:
    print(f"- {item}")

menu_items = ("salmon", "quessadilla", "ceasar salad", "chicken sandwich", "wings")

print("\nOur menu has been updated.")
print("You can now choose from the following items:")
for item in menu_items:
    print(f"- {item}")

In [42]:
# TIY 4-14
# Checked out the PEP-8

In [43]:
# TIY 4-15

# Modified TIY 4-13, 4-1, and 4-11 using PEP 8

In [ ]:
def factorial(n):
   if n == 0:
    return 1
   else:
    return n * factorial(n - 1)

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

In [ ]:
my_list = list(range(0,50))

def special_factorial(n):
  if n == 0:
    return 1
  elif n == 4:
    my_list.remove(4)
  elif n == 13:
    my_list.remove(13)
  elif n == 22:
    my_list.remove(22)
  else:
    return n * factorial(n - 1)

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))